#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: black;
}


header {
  width: 100%;
  border: 2px solid black;
  border-left: 0;
  border-right: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--var-max-width);
  margin: 0 auto;
}

.logo {
  font-size: 3rem;
}

.wallet button {
  background-color: transparent;
  border: none;
  padding: 1.5rem 3vw;
  cursor: pointer;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100%;
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wallet button:hover {
  background-color: black;
  color: white;
}


.content {
  height: 100%;
  width: 100%;
  max-width: var(--var-max-width);
  margin: 0 auto;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.content-wrapper>div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 10vw;
  border-right: 2px solid black;
  font-size: 2rem;
  line-height: 2rem;
}

.content-wrapper>div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.3rem;
  /* background-color: red; */
}

.form-action {
  display: flex;
  justify-content: space-between;
}

.form-action>button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

button>svg {
  width: 2.5rem;
  color: black;
}

input {
  height: 3rem;
  background-color: white;
  border: 2px solid black;
}

@media (prefers-color-scheme: dark) {

  header,
  button,
  .content-wrapper {
    border-color: white !important;
  }

  .App {
    color: white;
  }

  .wallet button:hover {
    background-color: white;
    color: black;
  }

  .content-wrapper>div:first-child {
    border-color: white;
  }

  input {
    background-color: black;
    border: 2px solid white;
  }

  button>svg {
    color: white;
  }
}